#coverImg {
  height: 250px;
  background-color: gray;
  // background-image: url('https://image.tmdb.org/t/p/original/rhIRbceoE9lR4veEXuwCC2wARtG.jpg');
  background-position: center -100px;
  background-repeat: no-repeat;
  .director-details {
    float: right;
    width: 160px;
    height: 100%;
    text-align: center;
    background: rgba(53, 68, 91, 0.4);
    color: #fff;
    .profile-img {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      margin-left: 2em;
      margin-top: 40%;
      background-position: center center;
      background-repeat: no-repeat;
    }
    p {
      margin-bottom: 0px;
    }
  }
}

.movie-info {
    line-height: 1;
    .budget-section {
        line-height: 2;
        .genres-list {
          // display: flex;
          // flex-flow: wrap;
          display: block;
          float: left;
          margin: 1px;
        }
      }
      
      .crew-cast-table {
        max-height: 240px;
        overflow-y: auto;
        img {
          max-width: 50px;
        }
      }
}

.poster-img {
  background-position: center center;
  background-repeat: no-repeat;
}

.related-movies {
    background-color: #FFF;
    display: flex;
    flex-wrap:wrap;
    padding: 5px 10px 10px 10px;
    .card {
        height: 200px;
        border: 2px solid rgba(53, 68, 91, .6);
        &:hover {
            cursor: pointer;
            border: 2px solid rgb(53, 68, 91);
        }
        .poster {
            height: 100%;
            overflow: hidden;
            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(53, 68, 91, .6);
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: .5s ease;
                text-align: center;
              }
              
              &:hover {
                .overlay {
                    height: 35px;
                }
              }
              
              .text {
                color: white;
                font-size: 12px;
              }
        }
    }
    .col-md-2{
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.full-width {
    width: 100%;
}
