#coverImg {
    height: 250px;
    background-color: gray;
    // background-image: url('https://image.tmdb.org/t/p/original/rhIRbceoE9lR4veEXuwCC2wARtG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    .director-details {
        float: right;
        width: 160px;
        height: 100%;
        text-align: center;
        background: rgba(53, 68, 91, .4);
        color: #FFF;
        img {
            height: 110px;
            width: 110px;
            border-radius: 50%;
            margin-top: 40%;
        }
        p {
            margin-bottom: 0px;
        }
    }
}


.budget-section {
    line-height: 2;
    .genres-list {
        width: 100%;
        kbd {
            margin-right: 2px;
        }
    }
}

.crew-cast-table {
    max-height: 240px;
    overflow-y: auto;
    img {
        max-width: 50px;
    }
}

.poster-img {
    background-position: center center;
    background-repeat: no-repeat;
}