<div class="row">
  <div class="col-md-12" id="coverImg" [style.background-image]="'url(' + prepareCoverImgPath(movieDetails.backdropPath) + ')'">
    <div class="director-details">
      <img [src]="prepareDirectorImg(director.profile_path)" alt="" id="director_logo">
      <p>{{director.name}}</p>
      <i class="fa fa-camera "></i>
      <small>{{director.job}}</small>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-4 bg-white">
    <div class="poster-img mt-2">
      <img class="pt-1" [src]="preparePosterImgPath(movieDetails.posterImg)" />
    </div>
  </div>
  <div class="col-md-8 bg-white">
    <h5>{{movieDetails.title}}</h5>
    <small class="text-muted"> {{movieDetails.overview}}</small>
    <div class="row mt-2">
      <div class="col-md-3 text-center">
          <circle-progress
          [percent]="movieDetails.imdbRating * 10"
          [subtitleFormat] = "formatSubtitle"
          [title] = "movieDetails.imdbRating + ratingStar"
          [radius]="60"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="col-md-4 budget-section border-dark">
          <span class="text-success">Total Budget:</span> {{movieDetails.budget}} <br>
          <span class="text-success">Revinue:</span> {{movieDetails.revenue}} <br>
          <div class="genres-list">
            <kbd *ngFor="let genre of movieDetails.genres.split('|')">{{genre}}</kbd>
          </div>
           <br>
          <small class="text-muted">Production by</small>
          <img src="https://image.tmdb.org/t/p/w92/1TjvGVDMYsj6JBxOAkUHpPEwLf7.png" alt="">
      </div>
      <div class="col-md-5" *ngIf="embeddedUrl">
          <iframe [src]="embeddedUrl | safe" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <tabset>
              <tab heading="Cast" id="tab1">
                <div class="table-responsive-sm" class="crew-cast-table">
                  <table class="table table-striped table-hover">
                    <tbody>
                      <tr *ngFor="let cast of casts;let i = index">
                        <td><img [src]="prepareDirectorImg(cast.profile_path)" alt=""></td>
                        <td>{{cast.name}}</td>
                        <td>{{cast.character}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
              <tab heading="Crew">
                <div class="table-responsive-sm" class="crew-cast-table">
                  <table class="table table-striped table-hover">
                    <tbody>
                      <tr *ngFor="let crew of crews">
                        <td><img [src]="prepareDirectorImg(crew.profile_path)" alt="No image"></td>
                        <td>{{crew.name}}</td>
                        <td>{{crew.department}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
            </tabset>
      
      </div>
    </div>
  </div>
</div>
