<div class="genresContainer">
  <h4>Action film</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-dark">
        <img class="card-img-top" src="assets/logo.png" alt="movie">
        <div class="card-body">
          <p class="card-text">Card title
            <span class="fa fa-address-book"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-dark">
        <img class="card-img-top" src="assets/logo.png" alt="movie">
        <div class="card-body">
          <p class="card-text">Card title
            <span class="fa fa-address-book"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-dark">
        <img class="card-img-top" src="assets/logo.png" alt="movie">
        <div class="card-body">
          <p class="card-text">Card title
            <span class="fa fa-address-book"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
